@use '../utils/breakpoints' as bp;

h1,
h2.h2-large {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.17px;

  @include bp.respond-to(mobile) {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33px;
  }
}

h2, h3 {
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}
