@use '../utils/breakpoints' as bp;
@use '../utils/mixins' as mix;
@use '../utils/variables' as var;

.btn {
  font-size: 12px;
  font-weight: var.$font-weight-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-primary {
  @include mix.flex-center;

  min-height: 40px;
  max-height: 50px;
  padding-inline: 24px;

  &:hover {
    color: var.$color-black;
    background-color: var.$color-gray;
  }

  &--black {
    color: var.$color-white;
    background-color: var.$color-black;
  }
  &--white {
    color: var.$color-black;
    background-color: var.$color-white;
  }
}

// use arrow.svg
.btn-secondary {
  display: flex;
  align-items: center;
  gap: 16px;

  &::after {
    content: "";
    display: block;
    width: 42px;
    height: 12px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--black {
    color: var.$color-black;

    &::after {
      background-image: url('src/assets/shared/desktop/arrow-black.svg');
    }
  }
  &--white {
    color: var.$color-white;

    &::after {
      background-image: url('src/assets/shared/desktop/arrow-white.svg');
    }
  }

  // img {
  //   width: 42px;
  //   height: 12px;
  // }
}
