@use '../utils/breakpoints' as bp;
@use '../utils/variables' as var;

.features-showcase {
  &-inner-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-inline: auto;

    @include bp.respond-to(tablet) {
      row-gap: 80px;
    }
    @include bp.respond-to(mobile) {
      grid-template-columns: 1fr;
      row-gap: 56px;
    }
  }

  &--single {
    min-height: 236px;
    margin-block: 120px;

    @include bp.respond-to(mobile-devices) {
      grid-template-columns: 1fr;
    }
    @include bp.respond-to(tablet) {
      max-width: 457px;
    }
    @include bp.respond-to(mobile) {
      margin-block: 80px;
    }
  }

  &--double {
    min-height: 576px;
    margin-block: 160px;

    @include bp.respond-to(desktop) {
      row-gap: 104px;
    }
    @include bp.respond-to(tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin-block: 116px;
    }
    @include bp.respond-to(mobile) {
      margin-block: 64px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include bp.respond-to(tablet) {
      min-height: 193px;
    }
    @include bp.respond-to(mobile) {
      min-height: 219px;
    }
  }

  &__contents {
    flex: 1;

    &-heading {
      margin-bottom: 16px;
    }
  }

  &__img {
    &-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}
