@use '../utils/breakpoints' as bp;
@use '../utils/variables' as var;

.hero-two-blocks {
  &--reverse {
    &-inner-wrapper {
    }
  }

  &-inner-wrapper {
    display: flex;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__contents-block {
    padding-inline: 111px;
    margin: auto;

    &--white {
      background-color: var.$color-white;
    }
    &--black {
      background-color: var.$color-black;
      color: var.$color-white
    }
  }

  &__image-block {

  }
}
