@use '../utils/breakpoints' as bp;
@use '../utils/variables' as var;

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;

  &__mobile-toggle-btn {
    display: none;

    @include bp.respond-to(mobile) {
      display: inline-block;
      border: none;
      background-color: unset;

      &:hover {
        cursor: pointer;
      }
    }

    // .icon {
    //   &-open{
    //   }
    //   &-close {
    //   }
    // }
  }

  &__invite-btn {
    @include bp.respond-to(mobile) {
      display: none;
    }
  }

  &__list {
    @include bp.respond-to(mobile) {
      display: none;
    }

    ul {
      display: flex;
      gap: 37px;
      list-style: none;

      @include bp.respond-to(tablet) {
        gap: 30px;
      }
    }
  }
}
