@use '../utils/breakpoints' as bp;
@use '../utils/variables' as var;

.stories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(500px, auto);
  // min-height: 500px;

  @include bp.respond-to(tablet) {
    grid-template-columns: repeat(2, 1fr);
    // min-height: 1000px;
  }
  @include bp.respond-to(mobile) {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(375px, auto);
    // min-height: 1500px;
  }

  &__item {
    position: relative;
    height: 100%;
  }

  &__bg-image {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    &-overlay {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        0deg, rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0));
    }
  }

  &__contents-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    text-align: left;
    color: var.$color-white;

    @include bp.respond-to(mobile) {
      padding: 30 32px;
    }

    &__date {
      margin-bottom: 4px;
    }

    &__heading {
      margin-bottom: 4px;
    }

    &__author {
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: var.$color-white;
        opacity: .25;
        margin-top: 15px;
      }
    }

    &__btn {
      margin-top: 20px;
      justify-content: space-between;
    }
  }
}
