@use "../utils/breakpoints" as bp;
@use "../utils/variables" as var;

.footer {
  background-color: var.$color-black;
  padding-block: 64px;

  @include bp.respond-to(mobile) {
    padding-block: 56px;
  }

  a {
    color: var.$color-white;
  }

  &-inner-wrapper {
    display: flex;
    justify-content: space-between;

    @include bp.respond-to(mobile) {
      flex-direction: column;
      align-items: center;
      row-gap: 119px;
    }
  }

  &__block {
    &-left {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 110px;
      row-gap: 85px;

      @include bp.respond-to(mobile-devices) {
        align-items: baseline;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 0;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      @include bp.respond-to(mobile) {
        align-items: center;
      }
    }
  }

  // left
  &__logo {
    grid-row: 1 / 2;

    @include bp.respond-to(mobile-devices) {
      margin-bottom: 32px;
    }
  }

  &__nav {
    text-align: left;
    max-width: 255px;
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    @include bp.respond-to(mobile-devices) {
      max-width: unset;
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }
    @include bp.respond-to(tablet) {
      margin-bottom: 72px;
    }
    @include bp.respond-to(mobile) {
      grid-row: 3 / -1;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include bp.respond-to(desktop) {
        height: 100%;
      }
      @include bp.respond-to(tablet) {
        flex-direction: row;
        column-gap: 26px;
      }
      @include bp.respond-to(mobile) {
        align-items: center;
        row-gap: 16px;
      }
    }

    a {
      color: var.$color-white;

      &:hover {
        color: rgba(var.$color-white, .3);
      }
    }
  }

  &__social-links {
    @include bp.respond-to(tablet) {
      grid-row: 3 / -1;
    }

    @include bp.respond-to(mobile) {
      grid-row: 2 / 3;
      margin-bottom: 51px;
      justify-content: center;
    }
  }

  // right
  &__invite-btn {
    @include bp.respond-to(mobile) {
      margin-bottom: 30px;
    }
  }

  &__copyright {
    color: var.$color-gray-dark;
  }
}
