@use '../utils/breakpoints' as bp;

.pricing-cards {
  // padding-top: 120px;
  // padding-bottom: 160px;
  padding-block: 120px;

  @include bp.respond-to(tablet) {
    // padding-top: 112px;
    padding-block: 112px;
  }
  @include bp.respond-to(mobile) {
    // padding-top: 64px;
    padding-block: 64px;
  }

  &__toggle {
    &-wrapper {
      margin-bottom: 48px;
      display: flex;
      justify-content: center;
      column-gap: 32px;

      @include bp.respond-to(mobile-devices) {
        margin-bottom: 48px;
      }
    }

    &-option{
      opacity: 50%;

      &--active {
        opacity: 1;
      }
    }
  }

  &__cards {
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      column-gap: 30px;

      @include bp.respond-to(mobile-devices) {
        grid-template-columns: 1fr;
        row-gap: 24px;
      }
    }
  }
}
