@use './breakpoints' as bp;

// Containers
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @include bp.respond-to(desktop) {
    padding-inline: 100px;
  }
  @include bp.respond-to(desktop-medium) {
    padding-inline: 165px;
  }
  @include bp.respond-to(tablet) {
    max-width: 768px;
    padding-inline: 39px;
  }
  @include bp.respond-to(mobile) {
    max-width: 375px;
    padding-inline: 32px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


// Spacing
.m-0 { margin: 0; }
// .mt-1 { margin-top: $space-xs; }
// .mb-1 { margin-bottom: $space-xs; }
// .mr-1 { margin-right: $space-xs; }
// .ml-1 { margin-left: $space-xs; }

.p-0 { padding: 0; }
// .pt-1 { padding-top: $space-xs; }
// .pb-1 { padding-bottom: $space-xs; }
// .pr-1 { padding-right: $space-xs; }
// .pl-1 { padding-left: $space-xs; }


// Text alignment
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }


// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.slide-from-left {
  animation: slideFromLeft 1s ease-in-out forwards;
}

.slide-from-right {
  animation: slideFromRight 1s ease-in-out forwards;
}
