@use './breakpoints' as bp;
@use '../utils/variables' as var;

// Containers
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @include bp.respond-to(desktop) {
    padding-inline: 100px;
  }
  @include bp.respond-to(desktop-medium) {
    padding-inline: 165px;
  }
  @include bp.respond-to(tablet) {
    max-width: 768px;
    padding-inline: 39px;
  }
  @include bp.respond-to(mobile) {
    max-width: 375px;
    padding-inline: 32px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


// Spacing
.m-0 { margin: 0; }
// .mt-1 { margin-top: $space-xs; }
// .mb-1 { margin-bottom: $space-xs; }
// .mr-1 { margin-right: $space-xs; }
// .ml-1 { margin-left: $space-xs; }

.p-0 { padding: 0; }
// .pt-1 { padding-top: $space-xs; }
// .pb-1 { padding-bottom: $space-xs; }
// .pr-1 { padding-right: $space-xs; }
// .pl-1 { padding-left: $space-xs; }


// Text alignment
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }


//
.gradient-bar {
  position: absolute;
  left: 0;
  background: var.$gradient;
}


// Img Lazy Load
.blurred-img {
  background-repeat: no-repeat;
  background-size: cover;

  &--loaded {
    &::before {
      // animation: none;
      // content: none;
    }

    img {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    // animation: pulse 2.5s infinite;
    // background-color: var(--text-color);
  }

  img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

}
.blurred-img.loaded {
  img {
    opacity: 1;
  }
}


// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: none;
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.fade-in--initial {
  opacity: 0;
  transform: translateY(30px);
}

.slide-from-left,
.slide-from-right {
  transform: translateX(0);

  @include bp.respond-to(tablet) {
    animation-duration: .8s;
  }
  @include bp.respond-to(mobile) {
    animation-duration: .6s;
  }
  @include bp.respond-to(mobile-small) {
    animation-duration: .45s;
  }
}
.slide-from-left {
  animation: slideFromLeft .9s ease-in-out forwards;
}
.slide-from-right {
  animation: slideFromRight .9s ease-in-out forwards;
}

.slide-from-side--initial {
  opacity: 0;
}
