@use './breakpoints' as bp;

// Containers
.container {
  width: 100%;
  max-width: 1440px;
  padding-inline: 165px;
  margin: 0 auto;

  @include bp.respond-to(tablet) {
    max-width: 768px;
    padding-inline: 39px;
  }

  @include bp.respond-to(mobile) {
    max-width: 375px;
    padding-inline: 32px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

// Spacing utilities
.m-0 { margin: 0; }
// .mt-1 { margin-top: $space-xs; }
// .mb-1 { margin-bottom: $space-xs; }
// .mr-1 { margin-right: $space-xs; }
// .ml-1 { margin-left: $space-xs; }

// Padding utilities
.p-0 { padding: 0; }
// .pt-1 { padding-top: $space-xs; }
// .pb-1 { padding-bottom: $space-xs; }
// .pr-1 { padding-right: $space-xs; }
// .pl-1 { padding-left: $space-xs; }

// Text alignment utilities
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
